<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Registered</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #0020C2;
        border-radius: 6px;
        outline: none;
      }

    </style>
</head>
<body>
<center><h1 style="font-size:50px;color:#ff0000;">Please Register First As Teacher</h1>
    <br>
    <h1 style="font-size:25px;color:#0000A0;">Click Here To Register </h1>
 <a class="button" href="{% url 'teachregi'%}">Teacher Registration</a>
</center>

</body>
</html>