{% extends 'base.html' %}

<!DOCTYPE html>
<html>
{% block content %}
<head>
        <title>Teacher SignUp</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #0020C2;
        border-radius: 6px;
        outline: none;
      }

    </style>
</head>
<body style="background-image:url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80')"><div > <a style="color: #008000 ;font-size:25px" href="{% url 'select'%}">Go Back</a></div>
<div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:40px;font-weight:bold">
Teacher Sign Up Section
</div>
<br>
        {% if registered %}
<strong style="color: #fff555; font-size:50px">You have registered successfully</strong>
                {% else %}
<form id="teach_form" method="post" action="/teachregi/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ teach_form.as_p }}

<input class="btn btn-success" type="submit" name="submit" value="Register" />
</form>

        {% endif %}
<hr>
<center><div id="grad2" style="text-align:center;margin:auto;color:#2B1B17;font-size:40px;font-weight:bold">
If You Are Registered Then Login Here
</div>
  <br>
 <a class="button" href="{% url 'teachlogin'%}">Teacher Login</a>
  </center>
<br>
<!--<div > <a style="color: #fff555 ;font-size:25px" href="{% url 'teachlogin'%}">Teacher Login</a></div>-->
</body>
{% endblock %}
</html>




