<!DOCTYPE html>
<html>
<head>
	<title>LogOut</title>
</head>
<div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:50px;font-weight:bold">
SCHOOL'S CHALLENGE QUIZ
</div>
<body style="color:#99FF00;font-size:150%;background-image:url('#')">

<center><h3 style="color:#FF0000">You have been successfully logged out</h3>
<a style="color: #0000ff; font-size:25px" href="{% url 'studlogin' %}"> Student Log in</a> and <a style="color: #0000ff; font-size:25px" href="{% url 'teachlogin' %}">Teacher Log in</a> again.
</center>
</body>
</html>
