{% extends 'base.html' %}
<img>

<head>
   <title>Student Login</title>
</head>
{% load socialaccount %}

{% load static %}
{% providers_media_js % }
<div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:40px;font-weight:bold">
SCHOOL'S CHALLENGE QUIZ
</div>
<!--<body class='body' style="color:#99FF00;font-size:150%;background-image:url('https://images.unsplash.com/photo-1515174691131-e712faeb6311?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80')" >-->
<div > <a style="color: #fff555 ;font-size:25px" href="{% url 'select'%}">back</a></div>
{% block content %}
<div  style="float: left">
<h1>Student Login</h1>
<form method="post" class='studselect' action="/Quiz/studselect/">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary active mb-3">
    <div>
  <a class="hollow button primary" href="#">
    <img width="15px" style="margin-bottom:3px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    <a href="{% provider_login_url "google"  %}">Google Login</a>
  </a>
</div>
        </button >
    <button class="btn btn-primary active mb-3"><a href="{% provider_login_url "facebook" method="oauth2" %}">Facbook Login        </a> </button>
<br>
    <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">Login</button></p>
</form>
    </div>
<img src="https://images.unsplash.com/photo-1515174691131-e712faeb6311?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" style="float: right"></img>
<!--<img src="https://images.unsplash.com/photo-1515174691131-e712faeb6311?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></img>-->
{% endblock %}
<br>

</body>
</html>
